.exchenge {
  width: 480px;
  height: 595px;
  margin-top: 60px;
  background: linear-gradient(180deg, #1e1156 0%, rgba(28, 35, 64, 0) 100%);
  filter: drop-shadow(0px 25px 25px rgba(0, 3, 32, 0.5));
  border-radius: 8px;
  z-index: 4;
}
.exchenge-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exchenge-title {
  margin: 60px 0px;
  font-size: 36px;
  color: #fff;
  text-shadow: 0px 4px 20px rgba(1, 143, 255, 0.15);
}
.pol-1 {
  position: absolute;
  bottom: 110px;
  right: -210px;
}
.pol-2 {
  position: absolute;
  left: -40px;
  top: 80px;
}
.pol-3 {
  position: absolute;
  left: 440px;
}
.exchenge-icon-container {
  margin: 10px;
}
.exchenge-icon {
  width: 50px;
  height: 40px;
  color: #fff;
}
.exchenge-icon:last-child {
  transform: rotate(180deg);
}
